DJANGO_SETTINGS_MODULE='config.django.local' #This is for local development (Swap to prodution when deployed)
SECRET_KEY=secret #Requires encrpyted email to share
DJANGO_DEBUG=True
SQLITE_URL=sqlite:////Absolute/Path/To/Your/SQLite_File/db.sqlite3
DATABASE_URL= Keep the same as SQLITE_URL for a while until POSTGRESQL databas has been made.