# Ignore virtual environment
.venv/

# Ignore environment variables
.env

# Ignore Pycharm required files
.idea

# Ignore logs
*.log

# Ignore testing database
*.sqlite3

# Ignore the local.py settings
config/django/local.py
