# Ignore virtual environment
.venv/

# Ignore environment variables
.env

# Ignore Pycharm required files
.idea

# Ignore node.js builds
theme/static_src/node_modules/

## Django ##
# Ignore logs
*.log

# Ignore Media Files
media/

# Ignore testing database
*.sqlite3

# Ignore the local.py settings
config/django/local.py

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class