<header x-data="{ mobilenavOpen: false }" class="md:flex items-center justify-between [&>*]:px-8 bg-gray-800 h-20 text-white sticky top-0 z-40">
    <div class="flex items-center justify-between h-20">
        <logo>
            <a class="flex items-center gap-1" href="/">
                <span class="text-lg font-bold">WEB_APP</span>
            </a>
        </logo>
    </div>
    <div>
        <a class="flex items-center gap-1" href="/">
            <span class="text-lg font-bold">Log In</span>
        </a>
        <a class="flex items-center gap-1" href="/">
            <span class="text-lg font-bold">Sign Up</span>
        </a>
    </div>
</header>