<div>
   <profile-header class="flex-col">
      <div class="m-4 text-3xl font-semibold text-blue-500"><h1>My Profile</h1></div>
      <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
   </profile-header>
   <div class="mb-6">
      <ul>
          <li>
            <picture-div
                     class="flex flex-nowrap mx-4 py-8"
                     hx-target="this"
                     hx-swap="outerHTML">
               <div class="flex grow items-stretch">
                  <div class="flex flex-row gap-2">
                     <ppicture><span class="text-blue-500">Profile Picture </span> : </ppicture>
                     <div><img src="{{ user.profile.avatar }}" class="text-red-400"></div>

                  </div>
                 <button type="button" class="ml-auto text-blue-600"
                     hx-get="{% url 'profile_picture_edit' %}">
                     Update
                 </button>
               </div>
            </picture-div>
            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
         </li>
         <li>
            <name-div
                     class="flex flex-nowrap mx-4"
                     hx-target="this"
                     hx-swap="outerHTML">
               <div id="nameDiv" class="flex grow items-stretch">
                  <div class="flex flex-row gap-2">
                     <full-name><span class="text-blue-500">Full Name </span> : </full-name>
                     <first-name><label class="text-gray-400">{{ profile.first_name }}</label></first-name>
                     <last-name><label class="text-gray-400">{{ profile.last_name }}</label></last-name>
                  </div>
                 <button type="button" class="ml-auto text-blue-600"
                     hx-get="{% url 'profile_detail_edit' %}">
                     Update
                 </button>
               </div>
            </name-div>
            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
         </li>
         <li>
            <bio-div
                     class="flex flex-nowrap mx-4 py-8"
                     hx-target="this"
                     hx-swap="outerHTML">
               <div class="flex grow items-stretch">
                  <div class="flex flex-row gap-2">
                     <bio><span class="text-blue-500">Bio </span> : </bio>
                     <biography><label class="text-gray-400">{{ profile.bio }}</label></biography>
                  </div>
                 <button type="button" class="ml-auto text-blue-600"
                     hx-get="{% url 'profile_bio_edit' %}"
                     >
                     Update
                 </button>
               </div>
            </bio-div>
         </li>
      </ul>
   </div>
</div>

