<div>
   <profile-header class="flex-col">
      <div class="m-4 text-3xl font-semibold text-blue-500"><h1>My Account</h1></div>
      <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
   </profile-header>
   <div class="mb-8">
      <ul>
         <li>
            <email-div class="flex mx-4">
               <div class="flex grow items-stretch">
                  <div class="flex gap-2">
                     <div class="text-blue-500">Email :
                        <div class="fixed text-xs text-gray-400 ">Please contact the offices for email changing</div>
                     </div>
                     <email-address class="text-gray-400">{{ user.email }}</email-address>

                  </div>
                  <a class="ml-auto text-gray-400 cursor-not-allowed" >Update</a>
               </div>
            </email-div>
            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
         </li>
         <li>
            <password-div class="flex mx-4">
               <div class="flex grow items-stretch">
                  <div class="flex gap-2">
                     <div class="text-blue-500">Password :
                        <div class="fixed text-xs text-gray-400">Please contact the offices for password changing</div>
                     </div>
                     <password class="ml-auto text-gray-400">*********</password>
                  </div>
                  <a class="ml-auto text-gray-400 cursor-not-allowed">Update</a>
               </div>
            </password-div>
            <hr class="h-px my-8 bg-gray-200 border-0 dark:bg-gray-700">
         </li>
         <li>
            <deact-account-div
                     class="flex mx-4"
                     hx-target="this"
                     hx-swap="outerHTML">
               <div class="flex grow items-stretch">
                  <div class="flex flex-row gap-2">
                     <div class="text-red-500">Email :
                        <div class="fixed text-xs text-gray-400">To reactivate the account, send a request to the offices.</div>
                     </div>
                  </div>
                 <button type="button" class="ml-auto text-red-600 mt-4"
                     hx-get="{% url 'profile_deactivate' %}">
                     Deactivate
                 </button>
               </div>
            </deact-account-div>
         </li>
      </ul>
   </div>
</div>

