<div class="flex flex-col mt-8 mx-4 gap-6 h-full w-screen ">
            <div class="flex flex-col  ">
                <div>
                    <span class="text-3xl font-semibold text-blue-600">My Kanbans :</span>
                    <div class="m-4">
                        {% include 'kanban/created_kanban.html' %}
                    </div>
            </div>
            <div>
                <div>
                    <span class="text-3xl font-semibold text-blue-600">Other Kanbans I'm a Member :</span>
                    <div class="m-4">
                       {% include 'kanban/created_kanban.html' %}

                    </div>
                </div>
            </div>
</div>

